// переменные

// цвета
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// сетка
$grid-width: 114rem; // ширина
$gutter-vertical: 8rem; // расстояние между строками
$gutter-horizontal: 6rem; // расстояние между колонками

// размер текста
$default-font-size: 1.6rem;