// хэдер

.header {
    height: 95vh;
    /* два бэкграунда: градиент (выбираем направление) и картинка */
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)), 
    url('../img/hero.jpg');
    /* вписываем картинку в блок */
    background-size: cover;
    /* прикрепляем верхушку картинки к верхнему краю */
    background-position: top;
    /* отрезаем угол */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
    
    &__logo-box { // контейнер для логотипа
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    
    &__logo { /* логотип */
        height: 3.5rem;
    }

    &__text-box { /* контейнер для контента в хэдере */ 
        /* устанавливаем в центр */
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* для отцентровки кнопки (инлайн элемент) */
        text-align: center;
    }
}