.story {
    width: 75%;
    margin: 0 auto; // центрирование: блок в блоке 
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    &__shape { // круг с фотографией пользователя
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%); // чтобы текст "облипал" круг
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%); // обрезаем квадрат по кругу
        transform: translateX(-3rem) skewX(12deg);
    }

    &__image {
        height: 100%;
    }

    &__text {
        transform: skewX(12deg);
    }
}